{% extends 'base.html' %}

{% block nav_links %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_aeroports' %}">Aéroports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_pistes' %}">Pistes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_compagnies' %}">Compagnies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-b" href="{% url 'list_types_avions' %}">Types d'Avions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_avions' %}">Avions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_vols' %}">Vols</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'vol_fiche' %}">Fiche des Vols</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h2>Liste des Types d'Avions</h2>
<a href="{% url 'add_type_avion' %}" class="btn">Ajouter un type d'avion</a>
<table class="table">
    <thead>
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Description</th>
            <th>Longueur de piste nécessaire (m)</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for type_avion in type_avions %}
        <tr>
            <td>{{ type_avion.marque }}</td>
            <td>{{ type_avion.modele }}</td>
            <td>{{ type_avion.description }}</td>
            <td>{{ type_avion.longueur_piste_necessaire }}</td>
            <td>
                {% if type_avion.image %}
                    <img src="{{ type_avion.image.url }}" alt="{{ type_avion.modele }}" style="width: 100px;">
                {% else %}
                    Pas d'image
                {% endif %}
            </td>
            <td>
                <a href="{% url 'view_type_avion' type_avion.id %}" class="btn">Voir</a>
                <a href="{% url 'edit_type_avion' type_avion.id %}" class="btn">Modifier</a>
                <a href="{% url 'delete_type_avion' type_avion.id %}" class="btn">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
